<style>
.left  {
   border: solid #ccc 1px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 5px;
   margin: 10px 100px 10px 0px;
   background: #F5F5F4;
   clear: both;
   float: left;
}
.right  {
   border: solid #ccc 1px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 5px;
   margin: 10px 0px 10px 100px;
   background: #E5E5E5;
   clear: both;
   float: right;
}
.message_input  {
   border: solid #ccc 1px;
   margin-top: -1px;
   padding: 5px;
   margin: 0 0 10px 50px;
   clear: both;
   float: right;
}
</style>

<p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<!-- Load jquery cookie library, we'll use this to send user token and keep session and matching log in flask -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" type="text/javascript"></script>
</p>
<p></p>
<div class="chat_window">
<div class="top_menu">
<div class="title">Enter the description of your conversation or activity here for the chatbot:</div>
</div>
<ul class="messages"></ul>
<div class="bottom_wrapper clearfix">
<div class="message_input_wrapper"><input class="message_input" placeholder="Type your message here and hit 'Enter'" type="text" size="40"></div>
<!-- We won't use a Send button, but just comment out for now
<div class="send_message">
<div class="icon"></div>
<div class="text">Send</div>
-->
<div class="message_template">
<div class="message">
<div class="text_wrapper">
<div class="text"></div>
</div>
</div>
</div>
</div>
</div>
<div class="footer">
<div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center"></div>
</div>
</div>
</div>
<p>
<script type="text/javascript">// <![CDATA[
<!-- Set the cookie on page load and send via GET with user token -->
$(document).ready(function() {
    user_token = Math.random().toString(36).substr(2);
  $.cookie('user_token', user_token);
  $.ajax({
    type: "GET",
    url: "https://dknlampstu2.dickinson.edu:8030",
    data: { "user_token" : user_token }
   });
});
      function getCookie(cname) {
        const name = cname + "=";
        const decodedCookie = decodeURIComponent(document.cookie);
        const ca = decodedCookie.split(';');
        for(let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) === ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) === 0) {
            return c.substring(name.length, c.length);
          }
        }
        return null;
      }

//Messages to/from LLM API via Flask sent via GET and added to html

(function () {
	var Message;
	Message = function (arg) {
    	this.text = arg.text, this.message_side = arg.message_side;
    	this.draw = function (_this) {
        	return function () {
            	var $message;
            	$message = $($('.message_template').clone().html());
            	$message.addClass(_this.message_side).find('.text').html(_this.text);
            	$('.messages').append($message);
            	return setTimeout(function () {
                	return $message.addClass('appeared');
            	}, 0);
        	};
    	}(this);
    	return this;
	};
	$(function () {

    	var getMessageText, message_side, sendMessage;

        //With each GET, we need to add the user token to keep session and log per user
        const user_token = getCookie("user_token");



    	message_side = 'right';
    	getMessageText = function () {
        	var $message_input;
        	$message_input = $('.message_input');
        	return $message_input.val();
    	};


    	sendMessage = function (text) {
	var $messages, message;
	if (text.trim() === '') {
    	return;
	}
	$('.message_input').val('');
	$messages = $('.messages');

	// Set message_side based on whether the message is from the user or chatbot
	var message_side = 'right';

	message = new Message({
    	text: text,
    	message_side: message_side
	});

// Draw user message
	message.draw();
//



// Call getResponse() to get the chatbot's response
// Replace varPrompt with your custom prompt in single quotes.  Replace the varName value with the name you would like to give your bot. (Currently Tadao)  You may also use varCustomVariable1 and varCustomVariable2 to pass other variables to python such as the language model.

//LLM Prompt, enter below
$.get("https://dknlampstu2.dickinson.edu:8030/get", { msg: text, varName: 'Tadao', varPrompt: 'I would like to start a simulation. You are my Japanese roommate. Your name is Tadao. Please play the role of Tadao, a native Japanese speaker and student at the University of Nagoya. Do not tell me you are a chatbot. Use the pronoun "I" when referring to yourself. I will play the role of an American student studying in Japan.', varUserToken: user_token, varCustomVariable1: 'Enter value here for varCustomVariable1' } ).done(function(data) {
	var botMessage = new Message({
    	text: data,
    	message_side: 'left'
	});


	// Draw bot message
	botMessage.draw();
	$messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
});

return $messages.animate({ scrollTop: $messages.prop('scrollHeight') }, 300);
};

    	$('.send_message').click(function (e) {
        	return sendMessage(getMessageText());
    	});
    	//event 13 is enter on the keyboard, Todd
    	$('.message_input').keyup(function (e) {
        	if (e.which === 13) {
            	return sendMessage(getMessageText());
        	}
    	});
        	// Add "Writing..." message
	writingMessage = new Message({
    	text: 'Place initial greeting from your chatbot here to start conversation',
    	message_side: 'left'
	});
	writingMessage.draw();

	});
}.call(this));
// ]]></script>
</p>

